@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    height: 100%;
  }

  :root {
    /* Base colors (option tokens) */
    --color-black: #000000;
    --color-white: #ffffff;

    /* Brand colors (option tokens) */
    --color-fluorescent-blue: #18ffff;
    --color-red: #e3392b;
    --color-turquoise: #14e3e3;
    --color-marigold: #e3a02b;
    --color-malachite: #09e368;
    --color-charcoal: #303030;
    --color-lotion: #fafafa;

    /* Theme colors (semantic tokens) */
    --color-background: var(--color-lotion);
    --color-foreground: var(--color-charcoal);
    --color-primary: var(--color-turquoise);
    --color-accent: var(--color-marigold);
    --color-warning: var(--color-red);
    --color-success: var(--color-malachite);

    /* Theme colors (component specific tokens) */
    --color-logo-primary: var(--color-primary);
    --color-logo-base: var(--color-foreground);
  }

  .dark {
    /* Theme colors */
    --color-background: var(--color-charcoal);
    --color-foreground: var(--color-white);
    --color-primary: var(--color-fluorescent-blue);
    --color-accent: var(--color-marigold);
    --color-warning: var(--color-red);
    --color-success: var(--color-malachite);
    --color-logo-primary: var(--color-primary);
    --color-logo-base: var(--color-foreground);
  }

  /* Example themes */

  .simple {
    --color-background: white;
    --color-foreground: orange;
    --color-primary: blue;
    --color-accent: violet;
    --color-warning: red;
    --color-success: green;
    --color-logo-primary: var(--color-primary);
    --color-logo-base: var(--color-foreground);
  }

  .simple-dark {
    --color-background: black;
    --color-foreground: yellow;
    --color-primary: blue;
    --color-accent: violet;
    --color-warning: red;
    --color-success: green;
    --color-logo-primary: var(--color-primary);
    --color-logo-base: var(--color-foreground);
  }
}
