@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base colors (option tokens) */

    --color-black: 0 0 0; /* Text: Light only */
    --color-white: 255 255 255; /* Text: Dark only */
    --color-dark-gray: 61 61 61; /* Text: Light only */
    --color-gray: 125 125 125;
    --color-light-gray: 189 189 189;

    /* Brand colors (option tokens) from Adobe Color (color.adobe.com)*/

    --color-charcoal: 48 48 48; /* Text: Light only */
    --color-alabaster: 250 250 250; /* Text: Dark only */

    /* Color Harmony Rule: Custom */
    --color-bright-turquoise: 20 227 227;
    --color-grapefruit: 227 57 43;
    --color-bright-aqua: 24 255 255; /* Text: Dark only */
    --color-fire-bush: 227 160 43;
    --color-malachite: 9 227 104;

    /* Color Harmony Rule: Square */
    --color-electric-purple: 172 48 255;
    --color-mango-orange: 255 125 48;
    --color-neon-yellow: 221 255 10; /* Dark only */

    /* Color Harmony Rule: Double Split Complementary */
    --color-bleu-de-france: 36 140 255;
    --color-coral-red: 255 65 48;
    --color-cantaloupe: 255 180 48; /* Text: Dark only */
    --color-ocean-green: 10 255 116; /* Text: Dark only */

    /* Theme colors (semantic tokens) */

    --color-background: var(--color-alabaster);
    --color-foreground: var(--color-charcoal);
    --color-primary: var(--color-bright-turquoise);
    --color-accent: var(--color-fire-bush);
    --color-warning: var(--color-grapefruit);
    --color-success: var(--color-malachite);

    /* Theme colors (component specific tokens) */

    --color-logo-primary: var(--color-primary);
    --color-logo-base: var(--color-foreground);
  }

  .dark {
    --color-background: var(--color-charcoal);
    --color-foreground: var(--color-white);
    --color-primary: var(--color-bright-aqua);
    --color-logo-primary: var(--color-primary);
    --color-logo-base: var(--color-foreground);
  }

  .theme-square {
    --color-primary: var(--color-bright-cyan);
    --color-accent: var(--color-electric-purple);
    --color-warning: var(--color-mango-orange);
    --color-success: var(--color-neon-yellow);
  }

  .theme-square.dark {
    --color-primary: var(--color-bright-aqua);
    --color-logo-primary: var(--color-primary);
  }

  .theme-double-split-complementary {
    --color-primary: var(--color-bleu-de-france);
    --color-accent: var(--color-cantaloupse);
    --color-warning: var(--color-coral-red);
    --color-success: var(--color-ocean-green);
  }

  .theme-double-split-complementary.dark {
    --color-primary: var(--color-bright-aqua);
    --color-logo-primary: var(--color-primary);
  }

  html {
    @apply bg-background;
  }

  html,
  body,
  #__next {
    @apply h-full;
    @apply bg-background;
    @apply text-foreground;
  }

  h1 {
    @apply mb-4 text-3xl text-accent;
  }

  p {
    @apply mb-2;
  }
}
