:root,
.light {
  /* Brand colors (option tokens) from Adobe Color (color.adobe.com)*/
  --color-alabaster: rgb(250, 250, 250); /* #fafafa, Text: Dark only */
  --color-charcoal: rgb(48, 48, 48); /* #303030, Text: Light only */
  --color-bright-aqua: rgb(24, 255, 255); /* 18ffff, Text: Dark only */
  --color-bright-turquoise: rgb(20, 227, 227); /* #14e3e3 */
  --color-fire-bush: rgb(227, 160, 43); /* #e39f2b */
  --color-grapefruit: rgb(227, 57, 43); /* #e33b2b */
  --color-malachite: rgb(9, 227, 104); /* #09e368 */
  --color-electric-purple: rgb(172, 48, 255); /* #ab30ff */
  --color-electric-purple-50: rgb(214, 152, 255); /* #d698ff */

  /* Theme colors (semantic tokens) */
  --color-background: var(--color-alabaster);
  --color-foreground: var(--color-charcoal);
  --color-primary: var(--color-bright-turquoise);
  --color-accent: var(--color-fire-bush);
  --color-warning: var(--color-grapefruit);
  --color-success: var(--color-malachite);
  --color-cta: var(--color-electric-purple);
  --color-cta-50: var(--color-electric-purple-50);

  /* Specific theme colors */
  --color-divider: theme('colors.neutral.200');
  --color-overlay: theme('colors.neutral.600');
  --color-sidebar-background: theme('colors.neutral.700');
  --color-sidebar-link-active: theme('colors.neutral.800');
  --color-sidebar-link-hover: theme('colors.neutral.600');
  --color-sidebar-link: theme('colors.neutral.100');
  --color-sidebar-link-icon: theme('colors.neutral.200');
  --color-search-text: theme('colors.neutral.500');
  --color-card-border: theme('colors.neutral.200');
}

.dark {
  --color-background: var(--color-charcoal);
  --color-foreground: theme('colors.white');
  --color-primary: var(--color-bright-aqua);
  --color-divider: theme('colors.neutral.500');
  --color-card-border: theme('colors.black');
}
